$color-primary: #e47327;
$color-secondary: #5c5b5b;

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #434343 , #000000);
    color: #fff;
}

.main-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: auto;
    min-height: 350px;
    margin: 10px 10px;
    box-shadow: 0 5px 10px $color-secondary;
    text-align: center;  
    border-radius: 10px; 
}

.start-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.quiz-box {
    display: none;
    align-items: center;
    text-align: center;

    
    h3 {
        height: 4rem;
        padding: 0.5rem 1rem 0;
    }

    ul {
        list-style: none;
        padding: 10px 20px;
    }
    li {
        padding: 5px 5px;
        border: 1px solid $color-primary;
        background-color: #000;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;
        transition: 0.3s linear;
    }
    ul li:hover {
        background-color: $color-primary;
        color: #fff;
        font-weight: 700;
    }
}

p {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}

button {
    padding: 0.8rem 3rem;    
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: $color-secondary;
    color: $color-primary;
    letter-spacing: 2.5px;
    font-weight: 700;
 }
 button:hover {
    background-color: $color-primary;
    color: #fff;
 }
 .result {
     font-size: 1.2rem;
     color: $color-primary;
 }

 
 @media only screen and (max-width: 768px) {
    .main-box {
        min-height: 450px;
        h2 {
            font-size: 1.5rem;
        }
        button {
            font-size: 1rem;
        }
    }
    .quiz-box h3 {
        height: 6rem;
    }
 }